<div class=""panel panel-primary>
  <div class="panel-heading"> 
 <h2 style="text-align: center;"> Product id: {{prodId}}</h2>
</div>
<div class="panel-body">
<div class="table table-stripped">
    <table class="table">
        <thead>
            <tr>
              <th><b>Product Id</b></th>
              <th><b>Product Name</b></th>
              <th><b>Available</b></th>
              <th><b>Price</b></th>
              <th><b>5 Star Rating</b></th>
            </tr>
        </thead>
        <tbody>
          <tr>
  <td>{{i.productCode}}</td>
  <td>{{i.productName}} </td>
  <td>{{i.availabel}}</td>
  <td>{{i.price}}</td>
  <td>{{i.ratings}}</td>
  </tr>
  </tbody>
</table>
</div>
<div class="panel-footer">
  <a class="btn btn-default" (click)='onBack()' style="width: 80px">
    <i class="glyphicon glyphicon-chevron-left"></i>Back
  </a>
</div>
</div>





 